Package: com.matthewbenedict.ios.fennec+17
Name: CyberKit Fennec (iOS 17 Rootful)
Maintainer: UInt2048
Version: 0.0.9-alpha
Section: Tweaks
Provides: com.matthewbenedict.ios.fennec (= 0.0.9-alpha)
Conflicts: com.matthewbenedict.ios.fennec
Replaces: com.matthewbenedict.ios.fennec
Depends: firmware (>=17.0), firmware (<<18.0)
Architecture: iphoneos-arm
Description: CyberKit Fennec allows you to test CyberKit using Firefox for iOS.
Depiction: https://uint2048.github.io/depictions/fennec-rootful/?p=17
Sileodepiction: https://uint2048.github.io/depictions/fennec-rootful/17/sileo.json
Icon: https://uint2048.github.io/CydiaIcon.png
